<body>

   <main>
      <h1>{{title}}</h1>
      {{#each article}}
      <a href="/article/{{this.id}}">
         <h1>{{this.title}}</h1>
         <h2>{{this.author}}</h2>
         <p>{{this.description}}</p>
      </a>
      {{/each}}
   </main>

</body>