<body>

   <main>
      <h1>{{title}}</h1>
      <form id="Formulaire" method="GET" action="/updateForm">
         <label for="Nom">Nom:</label></br>
         <input type="text" id="Nom" name="nom"></br>
         <label for="Prenom">Prénom:</label></br>
         <input type="text" id="Prenom" name="prenom"></br>
         <label for="Phone">№ de Téléphone:</label></br>
         <input type="tel" id="Phone" name="phone" pattern="[0-9]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}"></br>
         <label for="Email">Adresse Courriel:</label></br>
         <input type="email" id="Email" name="email"></br>
         <label for="Sujet">Sujet de la demande:</label></br>
         <select name="Sujet" id="Sujet">
            <option name="inscription">Inscription</option>
            <option name="formation">Demande de formation</option>
         </select></br>
         <label for="Detail">Champ pour détaillé la demande:</label></br>
         <textarea name="Commentaire" id="Detail" row="20"></textarea></br>
         <input type="submit" value="soumettre" />
      </form>
   </main>

</body>