<body>

   <main>
      <h1>{{nom}}</h1>
      {{#each formation}}
      <a href="/formation/{{this.id}}">
         <h2>{{this.title}}</h2>
         <p>{{this.description}}</p>
         <h3>{{this.prix}}</h3>
      </a>
      {{/each}}
   </main>

</body>