<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/formations">Nos Formations </a>
    <a href="/blog" class="FloatR">Blog</a>
    <a href="/contact" class="FloatR">Nos contacter</a>
  </nav>

  {{{body}}}
</body>

</html>