html, body {
   margin: 0;
 }

nav {
   background-color: brown; 
   height: 32px;
 }

nav a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 7px 8px;
   text-decoration: none;
 }

nav a:hover {
   background-color: chartreuse;
   color: black;
 }

.FloatR {
   float: right;
 }

  /* Formulaire Css */

#Formulaire {
   display: inline-grid;
 }

input , select, textarea {
   margin-block: 7px;
   width: 50em;
 }

main {
   margin-inline: auto;
   width: 80%;
   min-height: max-content;
   background-color: beige;
   display: flow-root;
   text-align: center;
 }

label {
   text-align-last: start;
 }

